body{
    background-color:  #8453bd ;
    font-family: Arial, Helvetica, sans-serif;
}

#titulo{
    text-align: center;
    font-family: cursive;
    color:rgb(241, 189, 44)
}

img{
    width: 50px; height: 50px;
}

section{
    text-align: center;
    padding: 1em;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 10px;
    margin:inherit;
    background-color: rgb(106, 164, 168);
    width: 24em;
    height: auto;
    display:inline-block;
    align-items: center;
    justify-content: center;
}

h2{
    font-size: 1em;
}

button {
    background-color:  #8453bd ;
    border: none;
    color: white;
    padding: 0.7em;
    border-radius: 10px;
    margin: auto;
    margin-top: 0.9em;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    display: flex;
    position: relative;
}